button {
  margin: 2px;
  padding: 3px;
  border: 2px solid #333333;
  background: #eeeeee;
  border-radius: 5px;
}

div {
  display: inline-block;
}

*:focus {
  outline: none;
  outline-color: transparent;
}